/*------------------------------------*
    WoW class colors
*------------------------------------*/

.deathknight { color: #C41F3B; }
.druid { color: #FF7D0A; }
.hunter { color: #ABD473; }
.mage { color: #69CCF0; }
.monk { color: #00FF96; }
.paladin { color: #F58CBA; }
.priest { color: #FFFFFF; }
.rogue { color: #FFF569; }
.shaman { color: #0070DE; }
.warlock { color: #9482C9; }
.warrior { color: #C79C6E; }

.poor { color: #9d9d9d; }
.common { color: #fff; }
.uncommon { color: #1eff00; }
.rare { color: #0070ff; }
.epic { color: #a335ee; }
.legendary { color: #ff8000; }
.heirloom { color: #e6cc80; }
