/*------------------------------------*
    Forum styles
*------------------------------------*/

.forum-list {
    list-style-type: none;

    li {
        overflow: hidden;
        border-bottom: solid 1px rgba(255,255,255,.05);

        * {
            cursor: pointer;
        }

        &:last-child {
            border-bottom: none;
        }

        a {
            display: block;
            overflow: hidden;

            border-radius: 3px;
            padding: @padding 0;
            color: @textColor;
        }

        header {
            float: left;

            h2 {
                margin: 0;
                font-size: 120%;
                font-weight: bold;
                letter-spacing: -1px;
            }

            p {
                span { opacity: .65; }
                strong {
                    font-weight: lighter;
                    opacity: 1;
                }
            }

            .gutter {
                width: 54px + @padding;
                float: left;
                line-height: 0;
                letter-spacing: 0;
            }

            .content {
                margin-left: 54px + @padding;
            }
        }

        footer {
            float: right;
        }
    }
}

.forum-list-counter {
    display: inline-block;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 1px;

    text-align: center;

    strong,
    small {
        display: block;
        line-height: 1.2em;
    }

    strong {
        font-size: 120%;
        font-weight: bolder;
        letter-spacing: -1px;
    }

    small {
        opacity: .65;
    }
}

.thread-list {
    list-style-type: none;

    li {
        padding: 40px 0;
        border-bottom: solid 1px rgba(255,255,255,.05);

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
            border-bottom: 0;
        }
    }

    header {
        margin-bottom: @padding;
        overflow: hidden;

        h4 {
            float: left;

            strong {
                color: @headerColor;
                font-size: 120%;
                font-weight: bolder;
                letter-spacing: -1px;
            }

            small {
                font-size: 100%;
                font-weight: lighter;
            }

            span {
                opacity: .65;
            }

            em {
                font-style: normal;
            }
        }

        .timestamp {
            float: right;
            opacity: .65;
            font-size: 80%;

            a {
                color: @textColor;
                text-decoration: none;
            }

            span {
                padding-left: 10px;
                opacity: .5;
            }
        }
    }

    section {
        clear: both;
        margin-bottom: @padding;

        p {
            margin-bottom: @paddingThin;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .deleted {
            opacity: .35;
        }

        .edited {
            opacity: .35;
            font-style: italic;
        }
    }

    footer {
        a {
            font-size: 80%;
            padding-right: 10px;
            color: @textColor;
            text-transform: uppercase;
            opacity: .65;
        }
    }
}

.post-editor {
    h2 {
        font-size: 180%;
        font-weight: bolder;
        margin-bottom: @paddingThick;
        letter-spacing: -1px;
    }

    h3 {
        font-size: 120%;
        font-weight: bolder;
        letter-spacing: -1px;
    }

    .legend {
        padding-bottom: @padding;
        font-size: 70%;
        letter-spacing: 1px;
        text-transform: uppercase;

        var {
            background-color: @inputBackgroundColor;
            padding: 2px 5px;
            font-weight: bolder;
            margin-right: 3px;
        }

        a {
            color: @textColor;
            opacity: .65;
        }
    }

    input.text {
        width: 68%;
        min-width: 220px;
        margin-bottom: @paddingThin;
    }

    textarea {
        width: 100%;
        height: 10em;
        margin-bottom: @padding;
    }
}

.pre-wrap {
    white-space: pre-wrap;
}