/*------------------------------------*
    Gallery styles
*------------------------------------*/

.gallery {
    width: 100%;
}

.gallery-item {
    position: relative;
    float: left;

    width: 33%;
    padding-top: 18.5%;
    cursor: pointer;

    &.feature {
        width: 66%;
        padding-top: 37%;

        .gallery-overlay {
            padding: @paddingThick;
        }

        .gallery-content {
            header {
                max-width: 62%;

                h2 {
                    font-size: 180%;
                    margin-bottom: 7px;
                }

                p {
                    font-size: 120%;

                    &.timestamp {
                        font-size: 100%;
                    }
                }
            }
        }
    }

    &:hover {
        .gallery-overlay {
            opacity: 1;

            header {
                transform: translateY(-50%) scale3d(1, 1, 1);
            }
        }
    }
}

.gallery-content {
    position: absolute;
    top: 0;
    left: 0;
    right: @padding;
    bottom: @padding;

    background-color: @pageNavBackgroundColor;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 4px;
}

.gallery-overlay {
    position: absolute;
    box-sizing: border-box;

    padding: @padding;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    background-color: rgba(28,31,40,0.9);
    transition: opacity 300ms ease-in-out;
    border-radius: 4px;

    header {
        position: absolute;
        top: 50%;
        max-width: 80%;

        transform: translateY(-50%) scale3d(.975, .975, 1);
        transition: transform 300ms ease-in-out;

        h2 {
            margin-bottom: 0;

            color: @headerColor;
            font-size: 120%;
            font-weight: bolder;
            letter-spacing: -1px;
        }

        p {
            font-size: 80%;
            line-height: 1.3em;
            opacity: .65;

            &.timestamp {
                margin-top: 3px;
                opacity: .35;
            }
        }
    }
}

.gallery-upload {
    box-sizing: border-box;
    position: relative;
    padding: @paddingThick*2 @paddingThick;

    border-radius: 10px;
    box-shadow: 0 0 0 3px rgba(255,255,255,0.15) inset;

    width: 480px;
    height: 270px;

    background-color: @bodyColor;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &.over {
        box-shadow: 0 0 0 3px rgba(255,255,255,0.35) inset;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;

        background: @bodyColor;
        opacity: .7;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
    }

    .upload-group {
        position: absolute;
        z-index: 2;

        left: @paddingThick;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        height: 108px;
    }

    .upload-here {
        position: absolute;
        z-index: 1;

        right: @paddingThick;
        top: 50%;
        margin-top: -54px;
        width: 50%;
        height: 108px;

        font-size: 80%;
        text-align: right;
        line-height: 108px;
        opacity: .35;

        pointer-events: none;
    }
}