/*------------------------------------*
    Roster styles
*------------------------------------*/

.roster-table {
    th {
        text-align: left;

        a {
            cursor: pointer;
            color: @headerColor;
            opacity: .65;

            &.active {
                opacity: 1;
                text-decoration: underline
            }
        }
    }
}