/*------------------------------------*
    Padding
*------------------------------------*/

@paddingThick: 34px;
@padding: 17px;
@paddingThin: 10px;


/*------------------------------------*
    Font Sizes
*------------------------------------*/

@fontSizeHeader: 15pt;
@fontSizeText: 13pt;
@fontSizeSmall: 11pt;
@fontSizeTiny: 9pt;


/*------------------------------------*
    Colours
*------------------------------------*/

@white: #fff;
@black: #1b1f29;

@success: #48CFAD;
@warning: #FFCE54;
@error: #ED5565;

@bodyColor: #1f2332;

@primaryColorLight: #63cdeb;
@primaryColor: #40b1d0;
@primaryColorDark: #2c99b8;

@backgroundColor: #fff;
@backgroundColorDark: #f0f4fa;
@wellColor: #eceff3;
@wellColorDark: #dadde0;

@borderColorLight: #eceff3;
@borderColor: #dadee1;
@borderColorDark: #cdd1d4;

@textColorLight: #919699;
@textColor: #606473;
@headerColor: #2d3140;

@navSelectedTextColor: #fff;
@navTextColor: #afb4cc;

@navBackgroundColor: #3b3f53;
@navHoverColor: #35394b;
@navSelectedColor: #282b3a;
@navHeaderColor: #1b1f29;


/*------------------------------------*
    Heights
*------------------------------------*/

@headerHeight: 62px;
@inputHeight: 32px;
@iconHeight: 26px;
@iconHeightSmall: 16px;
@listIconHeight: 44px;