{{!--
    Main nav
--}}

{{#section 'nav'}}
    <a href="/topics">Forums</a>
    <a href="/gallery">Gallery</a>
    <a href="/roster">Roster</a>
    <i></i>
    {{#if user}}
        <a href="/account" class="nav-button">{{user.battletag}}</a>
        <a href="/logout">Sign out</a>
    {{else}}
        <a href="/auth/bnet" class="nav-button">Sign in</a>
    {{/if}}
{{/section}}



{{!--
    Breadcrumb and breadcrumb nav
--}}

{{#section 'breadcrumb'}}
    <span>Settings</span>
{{/section}}

{{#section 'breadcrumb_nav'}}
{{/section}}



{{!--
    Scripts
--}}

{{#section 'scripts'}}
    <script src="/js/modules/admin.js"></script>
{{/section}}



{{!--
    Main content
--}}

<header class="section-header">
    <h1>Settings</h1>
    <p>Configure your instance of WoW Guild Boards, just the way you like it.</p>
</header>

<section class="section-content">

    <form>

        <h2 class="settings-header">Guild Information</h2>

        <p>
            This information is required for WoW Guild Boards to function.
            Please be careful when changing these settings.
        </p>

        <ul class="settings-group">

            <li>
                <label class="settings-label">Realm</label>
                <p class="settings-description">Enter the realm/server your guild is located on.</p>
                <div class="input-group">
                    <input type="text" class="text" name="realm_name" placeholder="Realm name">
                </div>
            </li>

            <li>
                <label class="settings-label">Guild Name</label>
                <p class="settings-description">
                    Enter the name of your guild <strong>exactly how it appears in game</strong>.
                    Capitalization and punctuation matters.
                </p>
                <div class="input-group">
                    <input type="text" class="text" name="guild_name" placeholder="Guild name">
                </div>
            </li>

        </ul>

        <p class="settings-submit">
            <button type="submit" class="button button-primary button-large">Save Settings</button>
        </p>

        <br>
        <br>
        <br>

        <h2 class="settings-header">Administration</h2>

        <ul class="settings-group">

            <li>
                <label class="settings-label">Web Admin Battletag</label>
                <p class="settings-description">
                    Enter the the Battletag of the web administrator.
                    The web admin is responsible for the maintenance and setup of this software. The web admin has the
                    same permission levels as a guild officer, except they cannot view the officer only boards, unless
                    they are an officer or guild master.
                    <br>
                    <strong>Please enter the Battletag exactly as it appears</strong>.
                </p>
                <div class="input-group">
                    <input type="text" class="text" name="web_admin_battletag" placeholder="Battletag#1234">
                </div>
            </li>

        </ul>

        <p class="settings-submit">
            <button type="submit" class="button button-primary button-large">Save Settings</button>
        </p>

    </form>

</section>