{{!--
    Main nav
--}}

{{#section 'nav'}}
    <a href="/topics">Forums</a>
    <a href="/gallery" class="active">Gallery</a>
    <a href="/roster">Roster</a>
    <i></i>
    {{#if user}}
        <a href="/account" class="nav-button">{{user.battletag}}</a>
        <a href="/logout">Sign out</a>
    {{else}}
        <a href="/auth/bnet" class="nav-button">Sign in</a>
    {{/if}}
{{/section}}



{{!--
    Breadcrumb and breadcrumb nav
--}}

{{#section 'breadcrumb'}}
    <span>Gallery</span>
{{/section}}

{{#section 'breadcrumb_nav'}}
{{/section}}



{{!--
    Scripts
--}}

{{#section 'scripts'}}
    <script src="/js/modules/gallery.js"></script>
{{/section}}



{{!--
    Main content
--}}

<header class="section-header">
    <h1>Gallery</h1>
    <p>A screenshot is worth a thousand words.</p>
</header>

<section class="section-content clear">

    <div class="gallery">

        <div class="gallery-item feature">
            <div class="gallery-content" style="background-image:url('/public/gallery/002.jpg')">
                <div class="gallery-overlay">
                    <header>
                        <h2>Photo Title</h2>
                        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <p class="timestamp">Nov 23</p>
                    </header>
                </div>
            </div>
        </div>

        <div class="gallery-item">
            <div class="gallery-content" style="background-image:url('/public/gallery/001.jpg')">
                <div class="gallery-overlay">
                    <header>
                        <h2>Photo Title</h2>
                        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <p class="timestamp">Nov 23</p>
                    </header>
                </div>
            </div>
        </div>

        <div class="gallery-item">
            <div class="gallery-content" style="background-image:url('/public/gallery/002.jpg')">
                <div class="gallery-overlay">
                    <header>
                        <h2>Photo Title</h2>
                        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <p class="timestamp">Nov 23</p>
                    </header>
                </div>
            </div>
        </div>

        <div class="gallery-item">
            <div class="gallery-content" style="background-image:url('/public/gallery/003.jpg')">
                <div class="gallery-overlay">
                    <header>
                        <h2>Photo Title</h2>
                        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <p class="timestamp">Nov 23</p>
                    </header>
                </div>
            </div>
        </div>

        <div class="gallery-item">
            <div class="gallery-content" style="background-image:url('/public/gallery/002.jpg')">
                <div class="gallery-overlay">
                    <header>
                        <h2>Photo Title</h2>
                        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <p class="timestamp">Nov 23</p>
                    </header>
                </div>
            </div>
        </div>

        <div class="gallery-item">
            <div class="gallery-content" style="background-image:url('/public/gallery/001.jpg')">
                <div class="gallery-overlay">
                    <header>
                        <h2>Photo Title</h2>
                        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <p class="timestamp">Nov 23</p>
                    </header>
                </div>
            </div>
        </div>

        <div class="gallery-item">
            <div class="gallery-content" style="background-image:url('/public/gallery/003.jpg')">
                <div class="gallery-overlay">
                    <header>
                        <h2>Photo Title</h2>
                        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <p class="timestamp">Nov 23</p>
                    </header>
                </div>
            </div>
        </div>

        <div class="gallery-item">
            <div class="gallery-content" style="background-image:url('/public/gallery/001.jpg')">
                <div class="gallery-overlay">
                    <header>
                        <h2>Photo Title</h2>
                        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <p class="timestamp">Nov 23</p>
                    </header>
                </div>
            </div>
        </div>

        <div class="gallery-item">
            <div class="gallery-content" style="background-image:url('/public/gallery/002.jpg')">
                <div class="gallery-overlay">
                    <header>
                        <h2>Photo Title</h2>
                        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <p class="timestamp">Nov 23</p>
                    </header>
                </div>
            </div>
        </div>

    </div>

</section>